ALTER TABLE pedido ADD COLUMN metodo_pago VARCHAR(50) DEFAULT 'efectivo' AFTER total;
ALTER TABLE pedido MODIFY COLUMN estado ENUM('pendiente', 'pagado', 'cancelado', 'enviado', 'entregado') DEFAULT 'pendiente';
